In [2]:
import pandas as pd
import mysql.connector as connector
from pypika import Table, Query

In [3]:
db_connector = connector.connect(
                    host="localhost",
                    user="root",
                    passwd="",
                    database="nest-bot"
                )

In [4]:
df_ols = pd.read_csv('OLS.csv',delimiter=";")
df_ols.dropna(inplace=True)
df_ols

,No,Serial Number,Jenis Barang,Merk Barang,Nama Product,Posisi,Position Name,Group Fungsi
0,1.0,161011188,OPTICAL LIGHT SOURCE,JOINWIT FROM SANFIX,OPTICAL LIGHT SOURCE JOINWIT STANDARD,BRIYAN PRASETYO,Team Leader Maintenance & QE,QE & GAMAS
1,2.0,161011248,OPTICAL LIGHT SOURCE,JOINWIT FROM SANFIX,OPTICAL LIGHT SOURCE JOINWIT STANDARD,SOFYAN NAURI,Teknisi Provisioning Sektor Pasuruan,PROVISIONING
2,3.0,170525270,OPTICAL LIGHT SOURCE,JOINWIT FROM SANFIX,OPTICAL LIGHT SOURCE JOINWIT STANDARD,MUKHAMAD ASRORI,Teknisi I-OAN Sektor Pasuruan,I-OAN
3,4.0,170525288,OPTICAL LIGHT SOURCE,JOINWIT FROM SANFIX,OPTICAL LIGHT SOURCE JOINWIT STANDARD,WAHYU INDRA CHRISTIAN,Teknisi I-OAN Sektor Probolinggo 2,I-OAN
4,5.0,170525300,OPTICAL LIGHT SOURCE,JOINWIT FROM SANFIX,OPTICAL LIGHT SOURCE JOINWIT STANDARD,JIHAD AMIRUL HAQ,Team Leader I-OAN Sektor Pasuruan 2,I-OAN
...,...,...,...,...,...,...,...,...
58,59.0,LS-8352,OPTICAL LIGHT SOURCE,Stintrument,OLS STINTRUMENT [STANDARD],GILANG RAMADHAN AGUNG GUMELAR,Teknisi TSEL,I-OAN
59,60.0,LS-8468,OPTICAL LIGHT SOURCE,Stintrument,OLS STINTRUMENT [STANDARD],ANGGRIAWAN ATMY PUTRA,Team Leader Provisioning & Migrasi Sektor Bangil,PROVISIONING
60,61.0,LS-975,OPTICAL LIGHT SOURCE,Stintrument,OLS STINTRUMENT [STANDARD],MUKLAS ANDIKA WIJAYA,Team Leader I-OAN Sektor Probolinggo 2,I-OAN
61,62.0,LS-988,OPTICAL LIGHT SOURCE,Stintrument,OLS STINTRUMENT [STANDARD],EKO WIDIANTO,Teknisi I-OAN Sektor Probolinggo,I-OAN
62,63.0,LS-990,OPTICAL LIGHT SOURCE,Stintrument,OLS STINTRUMENT [STANDARD],TIGO DWI ANGGA,Teknisi I-OAN Sektor Probolinggo,I-OAN

In [5]:
df_opm = pd.read_csv('OPM.csv',delimiter=";")
df_opm.dropna(inplace=True)
df_opm

,No,Serial Number,Jenis Barang,Merk Barang,Nama Product,Posisi,Position Name,Group Fungsi
0,1.0,1503201128,OPTICAL POWER METER,B&D TECHNOLOGY,OPTICAL POWER METER B&D TECHNOLOGY BD-503,AHMAD ZAINUL IRFAN,Team Leader TSEL & OLO Service,I-OAN
1,2.0,1503201133,OPTICAL POWER METER,B&D TECHNOLOGY,OPTICAL POWER METER B&D TECHNOLOGY BD-503,RUSTAMI HERDI TRIAWAN,Teknisi BGES Service,I-OAN
2,3.0,1503201153,OPTICAL POWER METER,B&D TECHNOLOGY,OPTICAL POWER METER B&D TECHNOLOGY BD-503,ANDY SISWANTO,Site Manager Operation Consumer Service Pasuru...,I-OAN
3,4.0,1503201156,OPTICAL POWER METER,B&D TECHNOLOGY,OPTICAL POWER METER B&D TECHNOLOGY BD-503,ANDY SISWANTO,Site Manager Operation Consumer Service Pasuru...,I-OAN
4,5.0,1503301375,OPTICAL POWER METER,B&D TECHNOLOGY,OPTICAL POWER METER B&D TECHNOLOGY BD-503,ANDY SISWANTO,Site Manager Operation Consumer Service Pasuru...,I-OAN
...,...,...,...,...,...,...,...,...
83,84.0,Opm-5718,OPTICAL POWER METER,Stintrument,OPTICAL POWER METER STINTRUMENT [STANDARD],ANGGRIAWAN ATMY PUTRA,Team Leader Provisioning & Migrasi Sektor Bangil,PROVISIONING
84,85.0,OPM-6167,OPTICAL POWER METER,Stintrument,OPTICAL POWER METER STINTRUMENT [STANDARD],GALI SETIYAWAN,Site Manager CCAN & WAN,I-OAN
85,86.0,opm-6179,OPTICAL POWER METER,Stintrument,OPTICAL POWER METER STINTRUMENT [STANDARD],JIHAD AMIRUL HAQ,Team Leader I-OAN Sektor Pasuruan 2,I-OAN
86,87.0,OPM-6321,OPTICAL POWER METER,Stintrument,OPTICAL POWER METER STINTRUMENT [STANDARD],MUCHAMAD DIDIK SUWARDOYO,Teknisi TSEL,I-OAN
87,88.0,OPM-6713,OPTICAL POWER METER,Stintrument,OPTICAL POWER METER STINTRUMENT [STANDARD],MUHAMMAD IKHYAK GALI OKTANDA,Teknisi I-OAN Sektor Pasuruan 2,I-OAN

In [6]:
df_opm['Serial Number'] = df_opm['Serial Number'].apply(lambda x: str(x).upper())
df_opm['Jenis Barang'] = df_opm['Jenis Barang'].apply(lambda x: str(x).upper())
df_opm['Merk Barang'] = df_opm['Merk Barang'].apply(lambda x: str(x).upper())
df_opm['Nama Product'] = df_opm['Nama Product'].apply(lambda x: str(x).upper())
df_opm['Posisi'] = df_opm['Posisi'].apply(lambda x: str(x).upper())
df_opm.head()

,No,Serial Number,Jenis Barang,Merk Barang,Nama Product,Posisi,Position Name,Group Fungsi
0,1.0,1503201128,OPTICAL POWER METER,B&D TECHNOLOGY,OPTICAL POWER METER B&D TECHNOLOGY BD-503,AHMAD ZAINUL IRFAN,Team Leader TSEL & OLO Service,I-OAN
1,2.0,1503201133,OPTICAL POWER METER,B&D TECHNOLOGY,OPTICAL POWER METER B&D TECHNOLOGY BD-503,RUSTAMI HERDI TRIAWAN,Teknisi BGES Service,I-OAN
2,3.0,1503201153,OPTICAL POWER METER,B&D TECHNOLOGY,OPTICAL POWER METER B&D TECHNOLOGY BD-503,ANDY SISWANTO,Site Manager Operation Consumer Service Pasuru...,I-OAN
3,4.0,1503201156,OPTICAL POWER METER,B&D TECHNOLOGY,OPTICAL POWER METER B&D TECHNOLOGY BD-503,ANDY SISWANTO,Site Manager Operation Consumer Service Pasuru...,I-OAN
4,5.0,1503301375,OPTICAL POWER METER,B&D TECHNOLOGY,OPTICAL POWER METER B&D TECHNOLOGY BD-503,ANDY SISWANTO,Site Manager Operation Consumer Service Pasuru...,I-OAN

In [7]:
df_ols['Serial Number'] = df_ols['Serial Number'].apply(lambda x: str(x).upper())
df_ols['Jenis Barang'] = df_ols['Jenis Barang'].apply(lambda x: str(x).upper())
df_ols['Merk Barang'] = df_ols['Merk Barang'].apply(lambda x: str(x).upper())
df_ols['Nama Product'] = df_ols['Nama Product'].apply(lambda x: str(x).upper())
df_ols['Posisi'] = df_ols['Posisi'].apply(lambda x: str(x).upper())
df_ols.head()

,No,Serial Number,Jenis Barang,Merk Barang,Nama Product,Posisi,Position Name,Group Fungsi
0,1.0,161011188,OPTICAL LIGHT SOURCE,JOINWIT FROM SANFIX,OPTICAL LIGHT SOURCE JOINWIT STANDARD,BRIYAN PRASETYO,Team Leader Maintenance & QE,QE & GAMAS
1,2.0,161011248,OPTICAL LIGHT SOURCE,JOINWIT FROM SANFIX,OPTICAL LIGHT SOURCE JOINWIT STANDARD,SOFYAN NAURI,Teknisi Provisioning Sektor Pasuruan,PROVISIONING
2,3.0,170525270,OPTICAL LIGHT SOURCE,JOINWIT FROM SANFIX,OPTICAL LIGHT SOURCE JOINWIT STANDARD,MUKHAMAD ASRORI,Teknisi I-OAN Sektor Pasuruan,I-OAN
3,4.0,170525288,OPTICAL LIGHT SOURCE,JOINWIT FROM SANFIX,OPTICAL LIGHT SOURCE JOINWIT STANDARD,WAHYU INDRA CHRISTIAN,Teknisi I-OAN Sektor Probolinggo 2,I-OAN
4,5.0,170525300,OPTICAL LIGHT SOURCE,JOINWIT FROM SANFIX,OPTICAL LIGHT SOURCE JOINWIT STANDARD,JIHAD AMIRUL HAQ,Team Leader I-OAN Sektor Pasuruan 2,I-OAN

In [8]:
jenis_barang = df_opm['Jenis Barang'].to_list()
jenis_barang.extend(df_ols['Jenis Barang'].to_list())
set_jenis_barang = set(jenis_barang)
set_jenis_barang

{'OPTICAL LIGHT SOURCE', 'OPTICAL POWER METER'}

In [9]:
merk_barang = df_opm['Merk Barang'].to_list()
merk_barang.extend(df_ols['Merk Barang'].to_list())
set_merk_barang = set(merk_barang)
set_merk_barang

{'B&D TECHNOLOGY', 'JOINWIT FROM SANFIX', 'SENTER', 'STINTRUMENT'}

In [10]:
posisi = df_opm['Posisi'].to_list()
posisi.extend(df_ols['Posisi'].to_list())
set_posisi = set(posisi)
set_posisi

{'ADE RISDIAN ANWAR',
 'AHMAD DZULFIKAR',
 'AHMAD ZAINUL IRFAN',
 'AJIE RAMADHIANTO',
 'AKHMAD URIFAN',
 'AKHMAD YUSUF',
 'ALDIAN AKBAR NAUFAL',
 'ANDIKA ADI SAKA FATMA',
 'ANDY SISWANTO',
 'ANGGRIAWAN ATMY PUTRA',
 'ANWAR AZIS ROSYIDI',
 'ARIF RACHMADHONI',
 'BAGUS DWI HERMAWAN',
 'BIMA BAHRIL ILMI',
 'BRIYAN PRASETYO',
 'CHARIS',
 'DANDI DWI HERMAWAN',
 'DIO IHZA RAMADANY',
 'EGA NANDA ICHNUARI',
 'EKO WIDIANTO',
 'FIRMAN AMIN MASONI',
 'GALI SETIYAWAN',
 'GILANG RAMADHAN AGUNG GUMELAR',
 'ILHAM',
 'IQBAL AFGHANI ARIGGI',
 'IVAN DWI OKTAFIAN',
 'IZUDDIN AMRULLOH',
 'JIHAD AMIRUL HAQ',
 'LUHUNG JIWA SAPUTRA',
 'M BISRI ARIANTO',
 'MAULANA GHOFFARUL KAHFI',
 'MOCH. AKBAR MUSTIKA MUSTHOFA',
 'MOCHAMAD LUTFI',
 'MOCHAMMAD ZAINURROZIQIN',
 'MOH RANDY ARDIKA',
 'MOH. ABDILLAH',
 'MOH. MAULANA KHOIRI',
 'MUCHAMAD DIDIK SUWARDOYO',
 'MUHAMMAD AGUS WAHYUDHI',
 'MUHAMMAD HUSEN ZAINUDIN',
 'MUHAMMAD IKHYAK GALI OKTANDA',
 'MUKHAMAD ASRORI',
 'MUKHAMMAD MUDASIR SUTRISNO',
 'MUKLAS ANDIKA WIJAYA',
 'PRAYOGA DWI WIDODO',
 'RASIO EKA PRAYUDHA',
 'RIFKI JUDO WARDOYO',
 'RINDARTO WIBISONO',
 'RIO SAPUTRA ARGANATA',
 'ROBAKHUL ARIFIN',
 'ROSI INDRASARI',
 'RUSTAMI HERDI TRIAWAN',
 'SALMAN AL FARISYI',
 'SODIK',
 'SOFYAN NAURI',
 'SUHARJO',
 'TIGO DWI ANGGA',
 'WAHYU INDRA CHRISTIAN',
 'WAHYU IQSAN BANGUN NUSANTORO',
 'WAHYU UTOMO',
 'YONA SEPTIANTO',
 'YULIAN SUKMA PRADANA',
 'YUSTIANZAH RACHMANTO',
 'ZULFI PURWOKO HARDIYANTO'}

In [53]:
for merk in set_merk_barang:
    cursor = db_connector.cursor(buffered=True)
    tab_prod = Table('merk_products')
    q = Query.into(tab_prod).columns(tab_prod.merk_name).insert(merk)
    cursor.execute(q.get_sql(quote_char=None))
    db_connector.commit()

In [54]:
for jenis in set_jenis_barang:
    cursor = db_connector.cursor(buffered=True)
    tab_prod = Table('jenis_products')
    q = Query.into(tab_prod).columns(tab_prod.jenis_name, tab_prod.reminder).insert(jenis, 7)
    cursor.execute(q.get_sql(quote_char=None))
    db_connector.commit()

In [60]:
for nama in set_posisi:
    cursor = db_connector.cursor(buffered=True)
    tab_prod = Table('employees')
    q = Query.into(tab_prod).columns(tab_prod.full_name).insert(nama)
    cursor.execute(q.get_sql(quote_char=None))
    db_connector.commit()

In [11]:
dict_name = {}
start_idx = 2
for nama in set_posisi:
    dict_name[nama] = start_idx
    start_idx += 1

In [12]:
dict_jenis = {}
start_idx = 1
for jenis in set_jenis_barang:
    dict_jenis[jenis] = start_idx
    start_idx += 1

In [13]:
dict_merk = {}
start_idx = 1
for merk in set_merk_barang:
    dict_merk[merk] = start_idx
    start_idx += 1

In [74]:
for idx, row in df_ols.iterrows():
    sn = str(row['Serial Number'])
    np = str(row['Nama Product'])
    jb = str(row['Jenis Barang'])
    mb = str(row['Merk Barang'])
    po = str(row['Posisi'])
    person = dict_name[po]
    jenis = dict_jenis[jb]
    merk = dict_merk[mb]
    cursor = db_connector.cursor(buffered=True)
    tab_prod = Table('products')
    q = Query.into(tab_prod).columns(tab_prod.serial_number, tab_prod.product_name, tab_prod.merk_id, tab_prod.jenis_id).insert(sn, np, merk, jenis)
    cursor.execute(q.get_sql(quote_char=None))
    db_connector.commit()

In [16]:
for idx, row in df_opm.iterrows():
    sn = str(row['Serial Number'])
    np = str(row['Nama Product'])
    jb = str(row['Jenis Barang'])
    mb = str(row['Merk Barang'])
    po = str(row['Posisi'])
    person = dict_name[po]
    jenis = dict_jenis[jb]
    merk = dict_merk[mb]
    cursor = db_connector.cursor(buffered=True)
    tab_prod = Table('products')
    q = Query.into(tab_prod).columns(tab_prod.serial_number, tab_prod.product_name, tab_prod.merk_id, tab_prod.jenis_id).insert(sn, np, merk, jenis)
    cursor.execute(q.get_sql(quote_char=None))
    db_connector.commit()

In [14]:
dict_merk

{'STINTRUMENT': 1, 'SENTER': 2, 'JOINWIT FROM SANFIX': 3, 'B&D TECHNOLOGY': 4}

In [15]:
dict_jenis

{'OPTICAL POWER METER': 1, 'OPTICAL LIGHT SOURCE': 2}